@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
#imgbox{
  height: 400px;
  width: 500px;
  border: solid 3px rgb(255, 117, 238);
  border-right: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-right: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#stocksimg{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/realistic-style-technology-particle-background_23-2148426704.jpeg);
  background-size: cover;
  padding: 0;
  padding-right: 0;
  height: 100vh;
}

#home-section-1{
  background-image: url(./assets/images/realistic-style-technology-particle-background_23-2148426704.jpeg);
    background-size: cover;
    padding: 0;
    padding-right: 0;
    height: 90vh;
    border-bottom: 2px solid rgb(255, 117, 238);
    border-top: 2px solid rgb(255, 117, 238);
}
#home-section-2{
  height: 50vh;
  background-color: rgb(29, 9,63);
  border-top: 2px solid rgb(255, 117, 238);
  border-bottom: 2px solid rgb(255, 117, 238);
  
}
#home-section-3 {
  height: 90vh;
  border-top: 2px solid rgb(255, 117, 238);
  background-color: rgb(43, 13, 73);
  border-bottom: 4px solid rgb(255, 117, 238);
}
#header{
  font-size: 30px;
  padding: 15px;
}
#infobox{
  border: 3px solid rgb(255, 117, 238);
  border-radius: 12px;
  height: 30vh;
  margin-top: 20px;
  width: 25vw;
  padding: 0;
}
#infobox img{
  border-radius: 9px;
  padding: 0;
  margin: 0;
}

#testimonial-box{
  height: 45vh;
  width: 20vw;
  background-color: white;
  border-radius: 12px;
  border: 2px solid rgb(255, 117, 238);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#testiomialimg{
  border: 2px solid rgb(255, 117, 238);
}

nav{
  border-bottom: 2px solid rgb(255, 117, 238);
  height: 45px;
  background-color: rgb(29, 9,63);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: rgb(43, 13, 73);
  border: 2px solid rgb(255, 117, 238);
  border-radius: 1vmin;
  width: 50vw;
  height: 40vh;
  margin-top: 20vh;
  margin-bottom: 2vh;
  
}
.signupform-container {
  padding: 3vmin;
  background-color: rgb(43, 13, 73);
  border: 2px solid rgb(255, 117, 238);
  border-radius: 1vmin;
  width: 50vw;
  height: 50vh;
  margin-top: 20vh;
  margin-bottom: 2vh;

}
#loginform {
  display: flex;
  justify-content: center;
  align-items: center
}

#signupform{
    display: flex;
      justify-content: center;
      align-items: center
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
  margin-top: 30px;
}

#loginbtn{
  background-color: rgb(255, 117, 238);
}
#logininput{
  border: 1px solid rgb(255, 117, 238);
}
#signupbtn {
  background-color: rgb(255, 117, 238);
}

#signupinput{
  border: 1px solid rgb(255, 117, 238);
}
#assetinput{
  border: 1px solid rgb(255, 117, 238);
}

#text-box{
  border: 1px solid rgb(255, 117, 238);
  border-radius: 25px;
  font-size: 20px;
  background-color: rgb(255, 117, 238);
  width: 25vw;
}

#table-container{
  height: 60vh;
  width: 45vw;
  background-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: 10px;
}
#portfolio-table{
  border-top-right-radius: 12px;
}

tr{
  border-bottom: 2px solid rgb(255, 117, 238);
}

#welcometext{
  font-size: 30px;
}
#stock-data-container{
  height: 80vh;
  width: 45vw;
  background-color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0;
}
#portfolio-container{
  width: 45vw;
}

#searchbox{
  height: 5vh;
  margin-left: 2.5vw;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 35vw;
  border: 2px solid rgb(255, 117, 238)
}
#graph-container{
  height: 45vh;
  width: auto;
  border: 2px solid rgb(255, 117, 238);
  border-radius: 12px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

#buyticker{
  border: 2px solid black;
  border-radius: 12px;
  padding: 2px;
  margin-left: 2.5vw;
}
#assetbutton {
  border: 2px solid rgb(255, 117, 238);
  border-radius: 12px;
  background-color: rgb(255, 117, 238);
  border-radius: 25px;
  width: 11.5vw;
}

#actions {
  margin-left: 2.5vw;
  margin-top: 10px;
  margin-bottom: 10px;

}